body {
  font-family: Josefin Sans;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: rgb(21, 46, 64);
  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  background-color: rgb(21, 46, 64);
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.header-container nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style-type: none;
}

.header-container a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 22px;
}

.header-container a:hover {
  background-color: #962487;
}

main {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-me {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.img-me img {
  width: 200px;
  height: 250px;
  border-radius: 100px;
  transition: border 0.3s ease-in-out;
}

.img-me img:hover {
  border: 5px solid rgb(168, 55, 157);
}

.name {
  color: #fff;
  margin-top: -8px;
}

h1 {
  font-size: 44px;
  margin-top: -20px;
  color: rgb(168, 55, 157);
  -webkit-text-stroke: 1px #ffffff;
}
.buttons {
  display: flex;
  gap: 12px;
}

.buttons a {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(168, 55, 157);
  transition: background-color 0.3s ease-in-out;
}

.buttons a:hover {
  background-color: rgb(234, 49, 215);
}

section {
  margin-bottom: 40px;
  width: 100%;
  max-width: 800px;
  color: #fff;
}

.about-me {
  margin-top: 30px;
  font-size: 20px;
  background-color: rgb(200, 143, 200);
  border-radius: 10px;
}

h2 {
  font-size: 28px;
  text-align: center;
}
.education {
  font-size: 20px;
  background-color: rgb(200, 143, 200);
  border-radius: 10px;
}

.skills {
  font-size: 20px;
  background-color: rgb(200, 143, 200);
  border-radius: 10px;
}

.work-experience {
  font-size: 20px;
  background-color: rgb(200, 143, 200);
  border-radius: 10px;
}

.projects {
  font-size: 20px;
  background-color: rgb(200, 143, 200);
  border-radius: 10px;
}
.footer {
  background-color: rgb(21, 46, 64);
}

.git-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-right: 120px;
  margin-left: 150px;
}
.img-logo {
  width: 100px;
}

.linkedin-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-right: 120px;
}

.email-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-right: 120px;
}
.phone-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-right: 120px;
}
.year {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 156px;
}
.languages {
  font-size: 20px;
  background-color: rgb(200, 143, 200);
  border-radius: 10px;
}
.langua {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin: 20px;
}
.langua li {
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 10px;
}
.skill {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin: 20px;
}
.skill li {
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 10px;
}

pre {
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  background: #f4f4f4; 
  border: 1px solid #ddd;
}

.codeexample {
  font-size: 20px;
  background-color: rgb(200, 143, 200);
  border-radius: 10px;
}

.code-example {
  font-size: 20px;
}
.project-div {
  width: 500px;
  height: 300px;
  padding-left: 150px;
}

.project-img:hover {
  border: 5px solid rgb(168, 55, 157);
}

.project-img {
  width: 100%;
  border-radius: 8%;
}
